<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">

<head>
    <title>APPFE</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#4f474e">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="APPFE">
    <meta name="keywords" content="APPFE">
    <meta name="author" content="Lowa">
    <script src="{{ asset('js/index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d57b44e8b9.js" crossorigin="anonymous"></script>

</head>
<style>
    @media (prefers-color-scheme: dark) {
        .wallpaper {
            background: url("/img/back_dark.png") center center / cover;
        }

        .logo {
            background: url("/img/logo_dark.png") center center / cover;
        }
    }

    @media (prefers-color-scheme: light) {
        .wallpaper {
            background: url("/img/back.png") center center / cover;
        }

        .logo {
            background: url("/img/logo.png") center center / cover;
        }
    }

    .logo {
        height: 55px;
        width: 80px;
    }
</style>

<body>
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <div class="logo"></div>
            </a>
            <div class="buttons">
                <a data-target="modal-js-create-idea" class="button is-rounded is-link js-modal-trigger">
                    <i class="fa-solid fa-lightbulb mr-2"></i>
                    Soumettre une idée
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if is_admin == "true" %}
                    <a href="/admin" class="button is-link is-rounded">
                        <i class="fa-solid fa-user-tie mr-2"></i>
                        <strong>Tableau de bord</strong>
                    </a>
                    {% endif %}
                    <a href="/profile" class="button is-link is-rounded">
                        <i class="fa-solid fa-user mr-2"></i>
                        <strong>Mon profil</strong>
                    </a>
                    <a href="/logout" class="button is-danger is-rounded">
                        <i class="fa-solid fa-lock mr-2"></i>
                        <strong>Se déconnecter</strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="columns is-centered">
        <div class="column is-8 is-justify-items-center">
            <br>
            <br>
            <br>
            <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center">
                <span class="icon has-text-warning" style="margin-right: 10px;">
                    <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
                </span>
                <h1 class="title is-2 mb-2"> {{ title_idea | escape }} </h1>
            </div>
            <br>
            <p class="is-size-5"> {{ details_idea | escape }} </p>
            <hr>
            <h4 class="title is-4">Quelques details</h4>

            <b>Équipe d'affectation</b>
            <span class="tag is-medium is-info is-light">{{ team }}</span>

            <br><br>

            <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center mb-4">
                <span class="icon has-text-warning" style="margin-right: 10px;">
                    <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
                </span>
                <h4 class="title is-4" style="text-align: center;"> Quelles mesures prendrez vous ? </h4>
            </div>
            <div style="margin-left: 34px;">
                <h5 class="title is-5 mb-2">{{ choice_mesures | escape }} </h5>
                <p class="is-size-5">{{ details_mesures }} </p>
            </div>

            <hr>

            <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center mb-4">
                <span class="icon has-text-warning" style="margin-right: 10px;">
                    <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
                </span>
                <h4 class="title is-4" style="text-align: center;"> Financement </h4>
            </div>
            <div style="margin-left: 34px;">
                <h5 class="title is-5 mb-2">{{ choice_funding | escape }} </h5>
                <p class="is-size-5">{{ funding_details }} </p>
            </div>
            {# {% if is_author == "false" and auhtor_id != user_id %} #}
            <hr>
            <h1 class="title is-4">
                <span class="icon has-text-warning mr-1 mb-1">
                    <i class="fa-solid fa-arrow-right fa-lg"></i>
                </span>
                Vous aimez cette idée?
            </h1>
            <div class="columns">
                <div class="column is-narrow">
                    <h2 class="subtitle is-6">Votez :</h2>
                </div>
                <div class="column">
                    <a href="/idea/{{ idea_id }}/vote_liked" class="icon-text has-text-primary mr-4">
                        <span class="icon">
                            <i class="fa-solid fa-heart fa-lg"></i>
                        </span>
                        <span>Oui</span>
                    </a>
                    <a href="/idea/{{ idea_id }}/vote_disliked" class="icon-text has-text-danger">
                        <span class="icon">
                            <i class="fa-solid fa-heart-crack fa-lg"></i>
                        </span>
                        <span>Non</span>
                    </a>
                </div>
            </div>
            {# {% endif %} #}
            <hr>
            <h1 class="title is-2">Commentaires</h1>
            <br>
            <h1 class="title is-4">Poster un commentaire</h1>
            <form action="/idea/{{ idea_id }}#comments" method="post">
                <textarea name="content_commentary" id="content_commentary" class="textarea is-light"></textarea><br>
                <input type="submit" name="send_comment" id="send_comment" value="Envoyer un commentaire"
                    class="button is-success">
            </form>
            <hr>
            <h1 class="title is-2" id="comments">Liste des commentaires</h1>
            <div class="container">
                {% for comment in comments %}
                <div class="box">
                    <h1 class="title is-4 mb-2">{{ comment.author_givenname }} {{ comment.author_familyname }} </h1>
                    <p class="subtitle is-4">{{ comment.content_comment }}</p>
                    {% if is_admin == "true" %}
                    <div class="buttons">
                        <form action="/idea/{{ idea_id }}/comment/{{ comment.comment_id }}/delete" method="post">
                            <input type="submit" class="button" value="Supprimer">
                        </form>
                        <input type="submit" value="Répondre" class="button js-modal-trigger"
                            data-target="modal-js-answer">
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <br>
            </div>
            <hr>
            <div class="buttons">
                {% if is_author == "true" and author_id == user_id and state == "in_progress" %}
                <form action="/idea/{{ idea_id }}/idea_realized" method="post">
                    <input type="submit" value="Idée réalisée avec succès" class="button is-success">
                </form>
                <form action="/idea/{{ idea_id }}/idea_not_realized" method="post">
                    <input type="submit" value="Idée réalisée sans succès" class="button is-danger">
                </form>
                {% endif %}
                {% if is_admin == "true" %}
                <form action="{{ path('idea_archived', { 'id':idea_id }) }}" method="post">
                    <input type="submit" value="Archiver ?" class="button is-warning">
                </form>
                <input type="submit" value="Supprimer ?" class="button is-danger js-modal-trigger"
                    data-target="modal-js-delete">
                {% endif %}
                <a href="/home" class="button is-link">
                    Retour à l'accueil
                </a>
            </div>
        </div>
        <!-- MODAL CONFIRMATION SUPPRESSION -->
        <div class="modal has-background-danger" id="modal-js-delete">
            <div class="modal-background"></div>
            <div class="modal-content">
                <h1 class="title is-2">Êtes vous sur de vouloir supprimer cette idée ?</h1>
                <div class="buttons">
                    <form action="{{ path('idea_delete', { 'id':idea_id }) }}" method="post">
                        <input type="submit" class="button has-text-light has-background-danger-40" value="Oui">
                    </form>
                    <form action="/idea/{{ idea_id }}" method="post">
                        <input type="submit" class="button has-text-light has-background-success-40"
                            value="Non"></input>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-js-answer">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Répondre au commentaire</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                {% for comment in comments %}
                <form action="/idea/{{ idea_id }}/comment/{{ comment.comment_id }}/answer" method="post">
                    {% endfor %}
                    <section class="modal-card-body">
                        <h1 class="title is-3">Rédiger votre réponse</h1>
                        <textarea name="answer_comment" id="answer_comment" class="textarea"></textarea>
                    </section>
                    <footer class="modal-card-foot">
                        <div class="buttons">
                            <button type="submit" id="send_answer" name="send_answer" class="button is-success">Envoyer
                                la réponse</button>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
</body>

</html>