<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">

<head>
    <title>APPFE</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#4f474e">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="APPFE">
    <meta name="keywords" content="APPFE">
    <meta name="author" content="Lowa">
    <script src="{{ asset('js/index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d57b44e8b9.js" crossorigin="anonymous"></script>

</head>
<style>
    @media (prefers-color-scheme: dark) {
        .wallpaper {
            background: url("/img/back_dark.png") center center / cover;
        }

        .logo {
            background: url("/img/logo_dark.png") center center / cover;
        }
    }

    @media (prefers-color-scheme: light) {
        .wallpaper {
            background: url("/img/back.png") center center / cover;
        }

        .logo {
            background: url("/img/logo.png") center center / cover;
        }
    }

    .logo {
        height: 55px;
        width: 80px;
    }
    .vote {
        transition: all .5;
    }
    .vote {
        filter:grayscale(1)
    }
    .vote:hover {
        filter:grayscale(.5)
    }
    .vote.selected {
        filter:grayscale(0)
    }
</style>

<body>
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <div class="logo"></div>
            </a>
            <div class="buttons">
                <a data-target="modal-js-create-idea" class="button is-rounded is-link js-modal-trigger">
                    <i class="fa-solid fa-lightbulb mr-2"></i>
                    Soumettre une idée
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if is_admin == "true" %}
                    <a href="/admin" class="button is-link is-rounded">
                        <i class="fa-solid fa-user-tie mr-2"></i>
                        <strong>Tableau de bord</strong>
                    </a>
                    {% endif %}
                    <a href="/profile" class="button is-link is-rounded">
                        <i class="fa-solid fa-user mr-2"></i>
                        <strong>Mon profil</strong>
                    </a>
                    <a href="/logout" class="button is-danger is-rounded">
                        <i class="fa-solid fa-lock mr-2"></i>
                        <strong>Se déconnecter</strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="columns is-centered">
        <div class="column is-8 is-justify-items-center">
            <br>
            <br>
            <br>
            <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center">
                <span class="icon has-text-warning" style="margin-right: 10px;">
                    <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
                </span>
                <h1 class="title is-2 mb-2"> {{ title_idea | escape }} </h1>
            </div>
            <br>
            <p class="is-size-5"> {{ details_idea | escape }} </p>
            <hr>
            <h4 class="title is-4">Quelques details</h4>

            <b>Équipe d'affectation</b>
            <span class="tag is-medium is-info is-light">{{ team }}</span>

            <br><br>

            <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center mb-4">
                <span class="icon has-text-warning" style="margin-right: 10px;">
                    <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
                </span>
                <h4 class="title is-4" style="text-align: center;"> Quelles mesures prendrez vous ? </h4>
            </div>
            <div style="margin-left: 34px;">
                <h5 class="title is-5 mb-2">{{ choice_mesures | escape }} </h5>
                <p class="is-size-5">{{ details_mesures }} </p>
            </div>

            <hr>

            <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center mb-4">
                <span class="icon has-text-warning" style="margin-right: 10px;">
                    <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
                </span>
                <h4 class="title is-4" style="text-align: center;"> Financement </h4>
            </div>
            <div style="margin-left: 34px;">
                <h5 class="title is-5 mb-2">{{ choice_funding | escape }} </h5>
                <p class="is-size-5">{{ funding_details }} </p>
            </div>
            <hr>
            <h1 class="title is-4">
                <span class="icon has-text-warning mr-1 mb-1">
                    <i class="fa-solid fa-arrow-right fa-lg"></i>
                </span>
                Vous aimez cette idée?
            </h1>
            <div class="columns">
                <div class="column is-narrow">
                    <h2 class="subtitle is-6">Votez :</h2>
                </div>
                <div class="column">
                    <a href="/idea/{{ idea_id }}/vote_liked" id="" class="vote {{ vote_value == 1 ? 'selected' }} icon-text has-text-primary mr-4">
                        <span class="icon">
                            <i class="fa-solid fa-heart fa-lg"></i>
                        </span>
                        <span>{{ count_like }}</span>
                    </a>
                    <a href="/idea/{{ idea_id }}/vote_disliked" class="vote {{ vote_value == 0 ? 'selected' }} icon-text has-text-danger">
                        <span class="icon">
                            <i class="fa-solid fa-heart-crack fa-lg"></i>
                        </span>
                        <span>{{ count_dislike }}</span>
                    </a>
                </div>
            </div>
            <hr>
            <h1 class="title is-2">Commentaires</h1>
            <br>
            <h1 class="title is-4">Poster un commentaire</h1>
            <form action="/idea/{{ idea_id }}#comments" method="post">
                <textarea name="content_commentary" id="content_commentary" class="textarea is-light"></textarea><br>
                <input type="submit" name="send_comment" id="send_comment" value="Envoyer un commentaire"
                    class="button is-success">
            </form>
            <hr>
            <div class="container">
                {% for comment in comments %}
                <div class="box">
                    <h1 class="title is-4 mb-2">{{ comment.author_givenname }} {{ comment.author_familyname }} </h1>
                    <p class="subtitle is-4">{{ comment.content_comment }}</p>
                    {% if is_admin == "true" %}
                    <div class="buttons">
                        <form action="/idea/{{ idea_id }}/comment/{{ comment.comment_id }}/delete" method="post">
                            <input type="submit" class="button" value="Supprimer">
                        </form>
                        <input type="submit" value="Répondre" class="button js-modal-trigger"
                            data-target="modal-js-answer">
                    </div>
                </div>
                {% endif %}
                {% for answer in answers|filter(answer => answer.related_comment_id == comment.comment_id) %}
                <div class="box ml-5" style="border: solid #4258ff 3px;">
                    <p class="subtitle is-4"> {{ answer.answer_content }} </p>
                </div>
                {% endfor %}
                {% endfor %}
                <br>

            </div>
            <div class="buttons">
                {% if is_author == "true" and author_id == user_id and state == "in_progress" %}
                <form action="/idea/{{ idea_id }}/idea_realized" method="post">
                    <input type="submit" value="Idée réalisée avec succès" class="button is-success">
                </form>
                <form action="/idea/{{ idea_id }}/idea_not_realized" method="post">
                    <input type="submit" value="Idée réalisée sans succès" class="button is-danger">
                </form>
                {% endif %}
                {% if is_admin == "true" %}
                <form action="{{ path('idea_archived', { 'id':idea_id }) }}" method="post">
                    <input type="submit" value="Archiver ?" class="button is-warning">
                </form>
                <input type="submit" value="Supprimer ?" class="button is-danger js-modal-trigger"
                    data-target="modal-js-delete">
                {% endif %}
                <a href="/home" class="button is-link">
                    Retour à l'accueil
                </a>
            </div>
        </div>
        <!-- MODAL CONFIRMATION SUPPRESSION -->
        <div class="modal has-background-danger" id="modal-js-delete">
            <div class="modal-background"></div>
            <div class="modal-content">
                <h1 class="title is-2">Êtes vous sur de vouloir supprimer cette idée ?</h1>
                <div class="buttons">
                    <form action="{{ path('idea_delete', { 'id':idea_id }) }}" method="post">
                        <input type="submit" class="button has-text-light has-background-danger-40" value="Oui">
                    </form>
                    <form action="/idea/{{ idea_id }}" method="post">
                        <input type="submit" class="button has-text-light has-background-success-40"
                            value="Non"></input>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-js-answer">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Répondre au commentaire</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                {% for comment in comments %}
                <form action="/idea/{{ idea_id }}/comment/{{ comment.comment_id }}/answer" method="post">
                    {% endfor %}
                    <section class="modal-card-body">
                        <h1 class="title is-3">Rédiger votre réponse</h1>
                        <textarea name="answer_comment" id="answer_comment" class="textarea"></textarea>
                    </section>
                    <footer class="modal-card-foot">
                        <div class="buttons">
                            <button type="submit" id="send_answer" name="send_answer" class="button is-success">Envoyer
                                la réponse</button>
                        </div>
                    </footer>
                </form>
            </div>
        </div>

        <div class="modal" id="modal-js-create-idea">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"><strong>Soumettre une idée</strong></p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <form method="post" action="/idea" enctype="multipart/form-data">
                    <h1 class="title is-4">Intitulé de l'idée</h1>
                    <input type="text" class="input is-medium" name="title_idea" id="title_idea" required="required">
                    <br><br>
                    <h1 class="title is-4">Détails</h1>
                    <textarea class="textarea" placeholder="Décrivez plus en détails votre idée" name="details_idea"
                        id="details_idea"></textarea>
                    <hr>
                    <h1 class="title is-4">Réalisation</h1>
                    <p class="is-size-6">Donnez des détails sur la réalisation de votre idée.</p>
                    <br>
                    <h3 class="title is-5">Quelles mesures prendrez vous ?</h3>
                    <div class="control">
                        <div class="radio">
                            <label for="alone" class="radio">
                                <input type="radio" name="mesures" id="alone" class="mr-2"
                                    value="Je suis en mesure de réaliser ce projet par moi-même"
                                    required="required"><strong>Je suis en mesure de
                                    réaliser ce projet
                                    par moi-même.</strong>
                            </label>
                            <br><br>
                            <label for="help" class="radio">
                                <input type="radio" name="mesures" id="help" class="mr-2"
                                    value="Je serai aidé lors de la réalisation" required="required"><strong>Je serai
                                    aidé lors de la
                                    réalisation.</strong>
                            </label>
                            <br><br>
                            <label for="no_help" class="radio">
                                <input type="radio" name="mesures" id="no_help" class="mr-2"
                                    value="Je ne serai pas aidé lors de la réalisation (par manque de temps ou de compétences)."
                                    required="required"><strong>Je ne serai pas aidé lors de
                                    la réalisation (par manque de temps ou de compétences).</strong>
                            </label>
                            <br><br>
                        </div>
                        <textarea class="textarea" placeholder="Quelques détails..." name="details_mesures"
                            id="details_mesures"></textarea>
                        <hr>
                        <h1 class="title is-4">Financement</h1>
                        <h3 class="title is-5">Combien ?</h3>
                        <div class="radio">
                            <label for="less_hundred" class="radio">
                                <input type="radio" name="funding" id="less_hundred" class="mr-2" value="Moins de 100€"
                                    required="required"><strong>Moins de 100€</strong> Pour rien ou presque rien
                            </label>
                            <br><br>
                            <label for="less_thousand" class="radio">
                                <input type="radio" name="funding" id="less_thousand" class="mr-2"
                                    value="Moins de 1000€" required="required"><strong>Moins de
                                    1000€</strong>
                            </label>
                            <br><br>
                            <label for="less_five_thousand" class="radio">
                                <input type="radio" name="funding" id="less_five_thousand" class="mr-2"
                                    value="Moins de 5000€" required="required"><strong>Moins de
                                    5000€</strong>
                            </label>
                            <br><br>
                            <label for="more_five_thousand" class="radio">
                                <input type="radio" name="funding" id="more_five_thousand" class="mr-2"
                                    value="Plus de 5000€" required="required"><strong>Plus de
                                    5000€</strong> On a besoin de
                                l'oncle Picsou
                            </label>
                            <br><br>
                        </div>
                        <textarea id="funding_details" name="funding_details" class="textarea"
                            placeholder="Quelques détails.."></textarea>
                    </div>
                    <hr>
                    <h1 class="title is-4">A qui envoyer ce projet ?</h1>
                    <p class="is-size-5"><strong>Indiquez à quelle équipe s'adresse cette demande.</strong></p>
                    <br>
                    <label for="finance" class="radio">
                        <input type="radio" name="team" id="finance" value="Soutien Financier" required="required">
                        <strong>Soutien Financier</strong> (Responsable : Romain Bernardot)
                    </label>
                    <br><br>
                    <label for="digital" class="radio">
                        <input type="radio" name="team" id="digital" value="Numérique / R&D">
                        <strong>Numérique / R&D</strong> (Responsable : Clément Fresse)
                    </label>
                    <br><br>
                    <label for="maintenance" class="radio">
                        <input type="radio" name="team" id="maintenance" value="Maintenance">
                        <strong>Maintenance</strong> (Responsable : Lancelot Gerber)
                    </label>
                    <br><br>
                    <label for="annexes" class="radio">
                        <input type="radio" name="team" id="annexes" value="Projets Annexes">
                        <strong>Projets Annexes</strong> (Responsable : Fabien Laurent)
                    </label>
                    <br><br>
                    <label for="communication" class="radio">
                        <input type="radio" name="team" id="communication" value="Communication">
                        <strong>Communication</strong> (Responsable : Hugo Bernardo)
                    </label>
                    <br><br>
                    <label for="circulation" class="radio">
                        <input type="radio" name="team" id="circulation" value="Circulations">
                        <strong>Circulations</strong> (Responsable : Arthur Perrin)
                    </label>
                    <br><br>
                    <label for="organisation" class="radio">
                        <input type="radio" name="team" id="organisation" value="Organisation">
                        <strong>Organisation</strong> (Responsable : Arthur Perrin)
                    </label>
                    <br><br>
                    <label for="other" class="radio">
                        <input type="radio" name="team" id="other" value="Autre / Je ne sais pas">
                        <strong>Autre / Je ne sais pas</strong>
                    </label>
                    <br>
                    <hr>
                    <h1 class="title is-3">Ajout d'un fichier</h1>
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" id="file" name="file_idea" />
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label"> Choisissez un fichier</span>
                            </span>
                        </label>
                    </div>
                    <hr>
                    <input class="button is-success" type="submit" value="Envoyer" name="envoyer">
                </form>
            </section>
        </div>
    </div>
</body>

</html>