<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">

<head>
  <title>APPFE</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#4f474e">
  <meta name="color-scheme" content="dark light">
  <meta name="description" content="APPFE">
  <meta name="keywords" content="APPFE">
  <meta name="author" content="Lowa">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/d57b44e8b9.js" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img src="/img/logo.png" alt="Logo APPFE">
            </a>
            <a href="#" class="navbar-item">En attente d'approbation</a>
            <a href="#" class="navbar-item">Validés</a>
            <a href="#" data-target="modal-js-create-idea" class="navbar-item js-modal-trigger">
                <span class="button is-link ">Soumettre une idée</span>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                {% if is_admin == "true" %}
                    <a href="/admin" class="button is-link is-rounded">
                        <strong>Tableau de bord</strong>
                    </a>
                {% endif %}
                    <a href="/profile" class="button is-link is-rounded">
                        <strong>Mon profil</strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>
  <div class="columns is-centered">
    <div class="column is-8 is-justify-items-center">
      <br>
      <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center">
          <span class="icon has-text-warning" style="margin-right: 10px;">
              <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
          </span>
          <h1 class="title is-2 mb-2"> {{ title_idea | escape }} </h1>
      </div>
      <br>
      <p class="is-size-5"> {{ details_idea | escape }} </p>
      <hr>
      <h4 class="title is-4">Quelques details</h4>
      
      <b>Equipe d'affectation</b>
      <span class="tag is-medium is-info is-light">{{ team }}</span>
      <br><br>
      <h1 class="title is-4 mb-5">Quelles mesures prendrez vous ?</h1>
      <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center">
          <span class="icon has-text-warning" style="margin-right: 10px;">
              <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
          </span>
          <h1 class="title is-1 mb-2" style="text-align: center;"> {{ choice_mesures | escape }} </h1>
      </div>
        <p class="is-size-4">{{ details_mesures }} </p>
        <hr>
        <h1 class="title is-3">Financement</h1>
        <br>
          <div class="is-flex is-flex-direction-row is-justify-content-flex-start is-align-items-center">
            <span class="icon has-text-warning" style="margin-right: 10px;">
                <i class="fa-solid fa-arrow-right fa-2xl" aria-hidden="true"></i>
            </span>
            <h1 class="title is-1" style="text-align: center; margin-bottom: 15px;"> {{ choice_funding | escape }} </h1>
        </div>
          <p class="is-size-5">{{ funding_details }} </p>
          
          {% if user_id != author_id %}
          <hr>
          <h1 class="title is-2">Commentaires</h1>
          <br>
          <!-- si un commentaire est posté sous une idée le mettre sous l'idée en question -->
          <form method="post">
            <p class="subtitle is-5">Votre commentaire : </p>
            <textarea name="comment" id="comment" class="textarea is-info"></textarea>
            <br>
            <input type="submit" class="button is-success" value="Poster votre commentaire">
          </form>
          {% endif %}  
          <hr>
          <a href="/home" class="button is-link">
            Retour à l'accueil
         </a>
        </div>
      </div>
    </body>
    
</html>