<html lang="fr">

<head>
    <title>APPFE | Admin</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#4f474e">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="APPFE">
    <meta name="keywords" content="APPFE">
    <meta name="author" content="Lowa">
    <link href="{{ asset('css/color.css') }}" rel="stylesheet">
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
    <br>
    <a href="/home" class="pl-2">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
        Retour a l'accueil
    </a>
    <br><br>
    <h1 class="title is-1 pl-2">Soumettre une idée <i class="fas fa-lightbulb"></i></h1>
    <br><br>
    <div class="columns">
        <div class="column is-6">
            <div class="field is-horizontal">
                <div class="field-label is-s m-3 is-size-5">
                    <label class="label">Nom</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input type="text" class="input" value="{{ family_name | escape }}"
                                style="height: 30px; width: 350px;">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-s m-3 is-size-5">
                    <label class="label">Prénom</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input type="text" class="input" value="{{ given_name | escape }}"
                                style="height: 30px; width: 350px;">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-s m-3 is-size-5">
                    <label class="label">Mail</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input type="text" class="input" value="{{ mail | escape }}"
                                style="height: 30px; width: 350px;">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal is-size-5">
                    <label class="label">Sujet</label>
                </div>
                <br>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input type="text" class="input" placeholder="Indiquez le sujet de votre idée"
                                style="height: 30px; width: 350px;">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal is-size-5">
                <label class="label">Contenu</label>
            </div>
            <br>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" placeholder="Rédigez votre idée" rows="10" cols="50"></textarea>
                        <a class="button is-link is-normal mt-1">Soumettre l'idée</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>