<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">

<head>
    <title>APPFE | Profil - {{ family_name }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#4f474e">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="APPFE">
    <meta name="keywords" content="APPFE">
    <meta name="author" content="Lowa">
    <script src="{{ asset('js/index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d57b44e8b9.js" crossorigin="anonymous"></script>
</head>
<style>
    @media (prefers-color-scheme: dark) {
        .wallpaper {
            background: url("/img/back_dark.png") center center / cover;
        }

        .logo {
            background: url("/img/logo_dark.png") center center / cover;
        }
    }

    @media (prefers-color-scheme: light) {
        .wallpaper {
            background: url("/img/back.png") center center / cover;
        }

        .logo {
            background: url("/img/logo.png") center center / cover;
        }
    }

    .logo {
        height: 55px;
        width: 80px;
    }
</style>

<body>
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <div class="logo"></div>
            </a>
            <div class="buttons">
                <a data-target="modal-js-create-idea" class="button is-rounded is-link js-modal-trigger">
                    <i class="fa-solid fa-lightbulb mr-2"></i>
                    Soumettre une idée
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if is_admin == "true" %}
                    <a href="/admin" class="button is-link is-rounded">
                        <i class="fa-solid fa-user-tie mr-2"></i>
                        <strong>Tableau de bord</strong>
                    </a>
                    {% endif %}
                    <a href="/profile" class="button is-link is-rounded">
                        <i class="fa-solid fa-user mr-2"></i>
                        <strong>Mon profil</strong>
                    </a>
                    <a href="/logout" class="button is-danger is-rounded">
                        <i class="fa-solid fa-lock mr-2"></i>
                        <strong>Se déconnecter</strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div style="margin: 0 auto;max-width: 1200px;">
        <br>
        <h1 class="title is-3" style="text-align: left;margin-left: 15px;">Mon profil APPFE</h1>
        <h1 class="is-size-2" style="text-align: left;margin-left: 15px;">Informations du profil</h1>
        <h1 style="text-align: left; margin-left: 15px;">Nom : {{ family_name|escape }}</h1>
        <h1 style="text-align: left;margin-left: 15px;">Prénom : {{ given_name|escape }}</h1>
        <h1 style="text-align: left;margin-left: 15px;">Mail : {{ mail|escape }}</h1>
        <div class="tabs is-centered is-boxed">
            <ul>
                <li class="tab">
                    <a onclick="openTab(event, 'my_comments')">
                        <span class="icon is-small">
                            <i class="fas fa-comment" aria-hidden="true"></i>
                        </span>
                        <span>Mes commentaires</span>
                    </a>
                </li>
                <li class="tab">
                    <a onclick="openTab(event, 'my_ideas')">
                        <span class="icon is-small">
                            <i class="fas fa-lightbulb" aria-hidden="true"></i>
                        </span>
                        <span>Mes idées</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="my_comments" class="content-tab">
            <h1 class="is-size-2" style="text-align: center;">Commentaires postés</h1>
            <hr>
            {% for comment in comments %}
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <h1 class="title is-5 mb-2">{{ comment.author_givenname }} {{ comment.author_familyname }}</h1>
                        <p class="subtitle is-4">{{ comment.content_comment }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="my_ideas" class="content-tab">
            <h1 class="is-size-2" style="text-align: center;">Mes idées proposées</h1>
            {# Faire en sorte d'afficher les idées proposées par l'utilisateur #}
            <hr>
            <div class="columns">
                <div class="column is-6">
                    <h1 class="title is-5" style="text-align: center;">Mes idées en cours d'approbation</h1>
                    {% for idea in ideas|filter(idea => idea.state_idea == 'waiting_approval') %}
                    {% if account_id == idea.author_id %}
                    <a href="/idea/{{ idea.idea_id }}">
                        <div class="card mb-5" style="width: 45vw; border:solid #ffb70f 5px">
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-5">{{ idea.title_idea }}</h1>
                                    <div class="tags has-addons">
                                        <span class="tag is-warning">En attente d'approbation</span>
                                    </div>
                                    <p>{{ idea.details_idea }}</p>
                                    <p class="is-size-7 m-0">Proposée par : <strong> {{ idea.first_name }} {{
                                            idea.family_name }}
                                        </strong>
                                    <p class="is-size-7 m-0">Créée le : <strong>{{ idea.creationDateTime|date("d/m/Y")
                                            }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="column is-6">
                    <h1 class="title is-5" style="text-align: center;">Mes idées approuvées</h1>
                    {% for idea in ideas|filter(idea => idea.state_idea == 'in_progress') %}
                    {% if account_id == idea.author_id %}
                    <a href="/idea/{{ idea.idea_id }}">
                        <div class="card mb-5" style="width: 45vw; border:solid rgb(72,199,142) 5px">
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-5">{{ idea.title_idea }}</h1>
                                    <div class="tags has-addons">
                                        <span class="tag is-success">Approuvée</span>
                                        <span class="tag">En cours de réalisation</span>
                                    </div>
                                    <p>{{ idea.details_idea }}</p>
                                    <!-- <p class="is-size-7 m-0">Validée par : <strong>{#  {{ idea.validator_givenname }} {{ idea.validator_familyname }} #}</strong></p>-->
                                    <p class="is-size-7 m-0">Proposée par : <strong> {{ idea.first_name }} {{
                                            idea.family_name }}
                                        </strong>
                                    <p class="is-size-7 m-0">Créée le : <strong>{{ idea.creationDateTime|date("d/m/Y")
                                            }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}

                    {% for idea in ideas|filter(idea => idea.state_idea == 'is_realized') %}
                    {% if account_id == idea.author_id %}
                    <a href="/idea/{{ idea.idea_id }}">
                        <div class="card mb-5" style="width: 45vw; border:solid rgb(72,199,142) 5px">
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-5">{{ idea.title_idea }}</h1>
                                    <div class="tags has-addons">
                                        <span class="tag is-success">Approuvée</span>
                                        <span class="tag">Réalisée avec succès</span>
                                    </div>
                                    <p>{{ idea.details_idea }}</p>
                                    <!-- <p class="is-size-7 m-0">Validée par : <strong>{#  {{ idea.validator_givenname }} {{ idea.validator_familyname }} #}</strong></p>-->
                                    <p class="is-size-7 m-0">Proposée par : <strong> {{ idea.first_name }} {{
                                            idea.family_name }}
                                        </strong>
                                    <p class="is-size-7 m-0">Créée le : <strong>{{ idea.creationDateTime|date("d/m/Y")
                                            }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}

                    {% for idea in ideas|filter(idea => idea.state_idea == 'is_not_realized') %}
                    {% if account_id == idea.author_id %}
                    <a href="/idea/{{ idea.idea_id }}">
                        <div class="card mb-5" style="width: 45vw; border:solid rgb(72,199,142) 5px">
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-5">{{ idea.title_idea }}</h1>
                                    <div class="tags has-addons">
                                        <span class="tag is-success">Approuvée</span>
                                        <span class="tag">Réalisée sans succès</span>
                                    </div>
                                    <p>{{ idea.details_idea }}</p>
                                    <!-- <p class="is-size-7 m-0">Validée par : <strong>{#  {{ idea.validator_givenname }} {{ idea.validator_familyname }} #}</strong></p>-->
                                    <p class="is-size-7 m-0">Proposée par : <strong> {{ idea.first_name }} {{
                                            idea.family_name }}
                                        </strong>
                                    <p class="is-size-7 m-0">Créée le : <strong>{{ idea.creationDateTime|date("d/m/Y")
                                            }}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>


</html>