<!DOCTYPE html>
<html lang="fr">

<head>
    <title>APPFE | Récapitulatif</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#4f474e">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="APPFE">
    <meta name="keywords" content="APPFE">
    <meta name="author" content="Lowa">
    <script src="{{ asset('js/index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/d57b44e8b9.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1 class="title is-3 is-spaced m-5">Récapitulatif de votre idée</h1>
    <p class="subtitle is-6 m-5">Vous avez la possibilité de relire et/ou modifer votre idée avant de l'envoyer
        définitivement !</p>
    <hr>
    <div class="columns is-centered">
        <div class="column is-8 is-justify-items-center">
            <form action="/home" method="post">
                <label for="title_idea" class="is-size-5">Intitulé : </label>
                <br><br>
                <input class="input is-medium" type="text" name="title_idea" id="title_idea"
                    value="{{ title_idea | escape }}">
                <br><br>
                <label for="details_idea" class="is-size-5">Détail :</label>
                <br><br>
                <textarea name="details_idea" class="textarea"
                    id="details_idea"> {{ details_idea | escape }} </textarea>
                <hr>
                <h1 class="title is-3">Réalisation</h1>
                <br>
                <p class="subtitle is-5">Donnez des détails sur la réalisation de votre idée.</p>
                <br>
                <h1 class="title is-4 mb-5">Quelles mesures prendrez vous ?</h1>
                <p class="subtitle is-6"><strong>Voici les mesures que vous serez prêts à prendre : </strong> {{
                    choice_mesures }} </p>
                <label for="details_mesures" class="is-size-5">Détail :</label>
                <br><br>
                <textarea name="details_mesures" id="details_mesures"
                    class="textarea"> {{ details_mesures }} </textarea>
                <hr>
                <h1 class="title is-3">Financement</h1>
                <br><br>
                <p class="subtitle is-5"><strong>Combien ?</strong> Le besoin financier de votre projet est de {{
                    choice_funding }}. </p>
                <label for="funding_details" class="is-size-5">Detail :</label>
                <br><br>
                <textarea class="textarea" name="funding_details"
                    id="funding_details"> {{ funding_details }} </textarea>
                <hr>
                <h1 class="title is-3">A qui envoyer ce projet ?</h1>
                <br>
                <p class="subtitle is-5">L'équipe que vous avez choisi pour votre projet est : {{ team }}.</p>
                <br>
                <input class="button is-danger" type="submit" value="Envoyer définitivement"></button>
        </div>
    </div>
    </form>
</body>

</html>